{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="{% url 'main-home' %}" class="nav_link"><li><i class="fa fa-home"></i> Home</li></a>
                    <a href="{% url 'main-login' %}" class="nav_link"><li id="nav_log">Login</li></a>
                    <a href="{% url 'main-register' %}" class="nav_link"><li id="nav_reg">Register</li></a>
                </ul>
            </nav>
        </header>
        <div class="search">
            <br>
            <h2 class="ser_head">SEARCH REVIEWS</h2>
            <form class="search_details" action="index.html" method="post">{%csrf_token%}
                <i class="fa fa-university fa-lg" aria-hidden="true"></i> <input id="inp_1" type="text" name="Institute" placeholder="institute" required><br>
                <i class="fa fa-user fa-lg" aria-hidden="true"></i> <input id="inp_2" type="text" name="Faculty" placeholder="faculty"><br>
                <input id="inp_3" type="submit" name="submit" value="SEARCH"><br>
            </form>
            <hr style="height:1px;border:none;color:#333;background-color:#333;" >
            <a href="#" class="rev_redirect" >Do you want to write a review?</a>
        </div>
    </body>
</html>
